<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:padding="1dp"
    android:gravity="center_horizontal"
    android:background="#f9f9f9">

    <Button
        android:id="@+id/button1"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Statistics"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="3dp"
        android:layout_marginBottom="3dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button2"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="History"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="7dp"
        android:layout_marginBottom="7dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button3"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Your profile"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="8dp"
        android:layout_marginBottom="8dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button4"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Mood tracker"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="8dp"
        android:layout_marginBottom="8dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button5"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Join group"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="8dp"
        android:layout_marginBottom="8dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button6"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Create new group"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="8dp"
        android:layout_marginBottom="8dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button7"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Help and Support"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />
    <View
        android:layout_width="400dp"
        android:layout_height="1dp"
        android:layout_marginTop="8dp"
        android:layout_marginBottom="8dp"
        android:background="@android:color/black" />

    <Button
        android:id="@+id/button8"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Send feedback"
        android:textColor="#000000"
        android:textSize="18sp"
        android:backgroundTint="#f9f9f9"
        android:layout_marginTop="8dp" />

</LinearLayout>
